NET "VGA_RED" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_GREEN" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_BLUE" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_HSYNC" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_VSYNC" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;


NET "arrowR" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "arrowU" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "arrowD" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "arrowL" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;

#NET "s_r" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
#NET "s_g" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
#NET "s_b" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
#NET "SW<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "clock" PERIOD = 20.0ns HIGH 40%;
#NET "reset" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "psxcmd"	    LOC = "B4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "psxclk"	    LOC = "A4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "psxack"	    LOC = "D5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "psxatt"	    LOC = "C5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "psxdata"	    LOC = "A6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;